@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font: 1.5rem/1.5 'Raleway', sans-serif;
  letter-spacing: 0.05rem;
}
/*
=Caption Overlay
============================================= */
.page-wrapper {
  /*background-color: rgb(245,245,245); /* very light gray */
  display: flow-root; /* single-value fallback */
  display: block flow-root; /* outside display= block-level ~ inside display= create a new block formatting context */
  max-width: 120rem; /* allow the page wrapper to expand to a maximum width of 1200px */
  min-height: 100vh; /* make the page wrapper no less than the height of the browser viewport */
  margin: 0 auto; /* top-bottom left-right */
  padding: 0 5rem 10rem; /* top left-right bottom */
}
h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 5rem;
  padding: 0 5rem;
}
.figcaption {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}
.page-wrapper > p {
  margin: 3rem 0;
  padding: 0 1rem;
}
/*
=Gallery
============================================= */
/*
=Flex container */
.gallery {
  display: flex;
  flex-flow: column wrap;
  margin-top: 5rem;
}
/*
=Flex items */
.gallery figure {
  background: rgb(0,255,0); /* i added this rule; delete it when you're ready */
  position: relative;
  padding: 1rem;
}
.gallery img {
  align-items: center;
  display: block;
  box-shadow: 1px 1px 2px 0 rgb(218,218,218); /* h-offset v-offset blur spread color */
  width: 100%;
}
.gallery a {
  color: transparent;
  text-decoration: none;

  position: absolute;
  top: 1rem; right: 1rem; bottom: 1rem; left: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: 0.5s ease-in-out;
}
.gallery a:hover {
  background-color: rgba(0,0,0,0.75);
  color: white;
}
/*
=Large Screen
============================================= */
@media (min-width: 576px) {
  /*
  =Flex container */
  .gallery {
    flex-flow: row wrap;
  }
  /*
  =Flex items */
  .gallery figure {
    flex: 0 0 100%;
  }
}
@media (min-width: 992px) {
  /*
  =Flex items */
  .gallery figure {
    flex: 0 0 50%;
  }
}
/*=========================================== */
